.cache/
.vscode/settings.json
build/
pandora/ext/
game/assets/
game/bin/data/core/manifest.json
game/bin/game*
game/bin/imgui.ini
game/bin/log.txt
forge/bin/forge*
forge/bin/imgui.ini
forge/bin/log.txt
compile_commands.json